* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
:root {
  --blue-primary: #094cb7;
  --pink-primary: #e44666;
}
.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto;
  &::-webkit-scrollbar {
      display: none;
      width: 0%;
  }
}

.content {
  display: flex;
  height: fit-content;
  width: 100%;
}




/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');